<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">

	<display-name>Intercloud Gateway</display-name>

	<servlet>
		<display-name>JAX-RS REST Intercloud Gateway Servlet</display-name>
		<servlet-name>cit.intercloud.root</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cit.intercloud.root</servlet-name>
		<url-pattern>/resources/*</url-pattern>
	</servlet-mapping>

</web-app>
