<wicket:panel>

<table border="0" cellpadding="0" cellspacing="0" width="221">
<tr>
<td><img src="images/space.gif" width="9" height="1" border="0" alt="" /></td>
<td>
<!-- Begin menu -->



<table  class="rahmen " border="0" cellpadding="0" cellspacing="1" id="menu" >
<tr wicket:id="adminNavis">
<td  width="170" >
	<a href="#" wicket:id="linkToAdminPage" target="_parent">
		&nbsp;<span wicket:id="adminLinkLabel">[adminLinkLabel]</span>
	</a>
</td>
</tr>
</table>


<!-- end menu-->
</td>
</tr>
</table>

</wicket:panel>
