<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<head>
    <title>Top Frame</title>
    <link rel="stylesheet" type="text/css" href="css/format.css"/>
</head>
<body bgcolor="#033780" text="white" topmargin="0" marginheight="0"  leftmargin="0" marginwidth="0">
<table  border="0" cellpadding="0" cellspacing="0" width="100%" >
<tr>
	<td><img src="images/ob_li.jpg" width="270" height="72" border="0" alt="ob_li" /></td>
	<td width="100%" background="images/back_ob.jpg">
		<font size="6"><span wicket:id="applicationtitle">[applicationtitle]</span></font>&nbsp;
	</td>
	<td align="right"><img src="images/logo.jpg" width="286" height="72" border="0" alt="logo" /></td>
</tr>
</table>

</body>
</html>