<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:wicket="http://wicket.apache.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<div wicket:id="navbar"/>

<div class="container">
    <wicket:panel wicket:id="header"></wicket:panel>
</div>

<div class="container">
    <wicket:child/>
</div>

<div class="container">
    <wicket:panel wicket:id="footer"></wicket:panel>
</div>
</body>
</html>